/* RESET */
body {
    margin: 0;
    padding-top: 60px;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #111;
    color: white;

    padding: 0 15px;
    box-sizing: border-box;

    z-index: 2000;
}

/* BOTÃO MENU */
#menuBtn {
    font-size: 22px;
    cursor: pointer;
    z-index: 3000;
}

/* TÍTULO CENTRAL */
.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* DIREITA (ÍCONE) */
.right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.right i {
    cursor: pointer;
}

/* CARRINHO */
.cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -6px;
    background: red;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}

/* SEARCH */
.search-box {
    position: fixed;
    top: 60px;
    width: 100%;
    background: #222;
    padding: 10px;
    display: none;
    z-index: 1500;
}

.search-box input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

/* MENU LATERAL */
.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background: #111;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 2500;
}

.menu.active {
    left: 0;
}

/* BOTÃO FECHAR*/
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* LISTA MENU */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* ÍCONES DO MENU */
.menu ul li i {
    margin-right: 10px;
}

/* OVERLAY (FUNDO ESCURO) */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    z-index: 2000;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}